<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>com.mycompany.myfileupload.FileUploadHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadLeaflet</servlet-name>
        <servlet-class>com.mycompany.myfileupload.FileUploadLeaflet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>com.mycompany.myfileupload.DocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>com.mycompany.myfileupload.EmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>com.mycompany.myfileupload.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsername</servlet-name>
        <servlet-class>com.mycompany.myfileupload.CheckUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <servlet-class>com.mycompany.myfileupload.RequestPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePasswordServlet</servlet-name>
        <servlet-class>com.mycompany.myfileupload.SavePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadLeaflet</servlet-name>
        <url-pattern>/uploadleaflet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/documentservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/emailservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contactservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsername</servlet-name>
        <url-pattern>/checkusername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <url-pattern>/requestpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePasswordServlet</servlet-name>
        <url-pattern>/savepassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>aangetekende-brief.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>A JSP page</web-resource-name>
            <url-pattern>/admin.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>tomcat</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
</web-app>
